<div id="content_detail" class="ui-corner-all">
<h1 class="title">PORTA検索によるインポート</h1>
<div id="content_list">
  <p id="notice"><%= notice %></p>

<%= form_for :books, :url => ndl_books_path, :html => {:method => 'get'} do -%>
  <p>
    <%= text_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form'} -%>
    <%= submit_tag '検索' -%>

    <%= link_to 'すべてを表示', ndl_books_path if params[:query] %>
  </p>
<%- end -%>

<% if @query.present? %>
<p><%= @books.total_entries %> 件が見つかりました。</p>

<table class="index">
  <tr>
    <th></th>
    <th>書名</th>
  </tr>
  <% @books.each do |book| %>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%= link_to_import(book.at('./dc:identifier[@xsi:type="dcndl:JPNO"]').try(:content).to_s}) %>
      </td>
      <td>
        <%= link_to book.at('./title').content, book.at('./link').content %>
        <br />
        <%= book.xpath('./dc:creator[@xsi:type="dcndl:NDLNH"]').collect(&:content).join(' ') %>
      	<%= book.xpath('./dc:publisher').collect(&:content).join(' ') %>
        ISBN: <%= book.at('./dc:identifier[@xsi:type="dcndl:ISBN"]').try(:content).to_s %>
      </td>
    </tr>
  <% end %>
</table>

<br />

<%= will_paginate(@books) %>
<% else %>
  <%= javascript_tag("$('#search_form_top').focus()") -%>
<% end %>

</div>
</div>

<div id="submenu" class="ui-corner-all">
</div>
